
<!-- Stats	 -->

<div class="row">
	<div class="col-3">
		<div class="card w-75">
			<div class="card-body">
				<p>Stats</p>
			</div>
		</div>
		<div class="card w-75">
			<div class="card-body">
				<p>Trends</p>
			</div>
		</div>
	</div>

<!-- The Feed  -->

<div class="col-6">
	<% for @p in @posts %>
	<div class="card w-75">
		<div class="card-body">
			<p><%= @p.content %></p>
		</div>
	</div>
	<% end %>
</div>

<!--  About us page	-->

	<div class="col-3">
		<div class="card w-75">
			<div class="card-body">
				<p>About</p>
			</div>
		</div>
	</div>
</div>
