
<!-- Stats	 --> 

<div class="row">
	<div class="col-3">
		<div class="card w-75">
			<div class="card-body">
				<p>Stats</p>
			</div>
		</div>
	</div>
	
<!-- The Feed  -->

	<div class="col-6">
		<div class="card w-75">
			<div class="card-body">
				<p>Feed</p>
			</div>
		</div>
	</div>
	
<!--  About us page	-->

	<div class="col-3">
		<div class="card w-75">
			<div class="card-body">
				<p>About</p>
			</div>
		</div>
	</div>
</div>

<!-- Trends. Separate div with row class so it shows under the stats div -->

<div class="row">
	<div class="col-3">
		<div class="card w-75">
			<div class="card-body">
				<p>Trends</p>
			</div>
		</div>
	</div>	
</div>

	
	