<div class="row">
	<div class="col-12">
		<div class="jumbotron">
			<%= @username %>
		</div>
	</div>
</div>

<!-- Profile	 -->

<div class="row">
	<div class="col-3">
		<div class="card w-75">
			<div class="card-body">
				<p>Profile</p>
			</div>
		</div>
	</div>

<!-- Posts  -->

	<div class="col-6">
		<div class="card w-75">
			<div class="card-body">
				<p>Posts</p>
			</div>
		</div>
	</div>

<!--  Recomandations	-->

	<div class="col-3">
		<div class="card w-75">
			<div class="card-body">
				<p>Recomandations</p>
			</div>
		</div>
	</div>
</div>

<!-- Trends. Separate div with row class so it shows under the stats div -->

<div class="row">
	<div class="col-3 offset-9">
		<div class="card w-75">
			<div class="card-body">
				<p>Trends</p>
			</div>
		</div>
	</div>
</div>
